<h1>Update Post: {{post.title}}</h1>

<form id='updateform'>

    <p>Title:</p>
    <input id='post-title'>

    <p>Content:</p>
    <input id='post-content'>

    <button data-item="{{post.id}}" id='updatebutton'>Update Post</button>
</form>


<script src="/js/updatepost.js"></script>