<h1>Update Post: {{post.title}}</h1>

<p>Title:</p>
<input id='post-title'>

<p>Content:</p>
<input id='post-content'>

<button id='updatebutton'>Update Post</button>

<script src="/js/profile.js"></script>